
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* transparency */
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.login-box {
    background-color:white ;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 26px;
    cursor: pointer;
}


.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    color :black;
}


.submit-btn {
    padding: 10px 20px;
    width: 95%;
    border: none;
    background: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.register a {
    padding-left:5px;
    text-decoration:none;
}
/* #signupOverlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* transparency 
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
} */

#signupBox{
    display :none;
    background-color:rgb(255, 255,255) ;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-btn2 {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 26px;
    cursor: pointer;
}


#signupBox input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    color :black;
}


.submit-btn2 {
    padding: 10px 20px;
    width: 95%;
    border: none;
    background: black;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}