.header{
    height:60px;
    width:auto;
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-bottom: 2px solid black;
    background-color: #0f1b2b;
}
body{
    background-color: #0f1b2b;
     font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
.icon{
    padding: 14px 14px   14px 14px;
    width:45px;
    height :45px;   
}
.links{
    display:flex;
    gap:30px;
    list-style: none;
    color :rgb(186, 185, 185);
    /* font-size: large; */
}

.lhs{
    display:flex;
    gap:20px;
    padding-right: 29rem;
}
.rhs{
    display :flex;
     align-items:flex-end;
    gap:20px;
    padding-left:100px;
    padding-right: 40px;
}

#lik:hover{
    scale :107%;
    color:rgb(255, 255, 255);
    cursor: pointer;
}
.name{
    padding-bottom:0.25rem;
}

.btn1{
    background-color:rgb(35, 109, 255);
    color:aliceblue;
    padding :0.25rem 0.25rem 0.25rem 0.25rem ;
    height :2rem;
    width :5rem;
    border-radius: 0.55rem;
    box-shadow: none;
     border:none;
}
.btn2{
    background-color:rgb(81, 80, 81);
    color:aliceblue;
    padding :0.25rem 0.25rem 0.25rem 0.25rem ;
    height :2rem;
    width :5rem;
    border-radius: 0.55rem;
    box-shadow: none;
     border:none;
}
.btn1:hover{
    scale:108%;
    color:white;
    cursor: pointer;
    box-shadow: 0 0 12px rgba(74, 144, 226, 0.6)
}
/* box radius : x axis px, y-axis px , blur radius rgbaplha() */
.btn2:hover{
    scale:108%;
    cursor: pointer;
    color:white;
    box-shadow: 0 0 12px rgba(169, 183, 198, 0.6)
}

.container{
    height:250px;
    width:auto;
    background-color:rgb(40, 49, 61) ;
    color:black;
    margin: 1.5rem 0 1rem 0.5rem;
    border-radius: 0.5rem;
   display: flex;
}
.hesru{
    padding : 1.5rem 0.5rem 1rem 5rem;
    color:rgb(209, 203, 203);
}

.disc{
    color:white;
}



.lost{
    background-color:rgb(35, 109, 255);
    color:aliceblue;
    height:35px;
    width:fit-content;
    border-radius: 0.55rem;
   padding:10px 15px 15px 15px;
     border:none;
}
.found{
    background-color:rgb(81, 80, 81);
    color:aliceblue;
    padding:10px 15px 15px 15px;
    height:35px;
    width:fit-content;
    border-radius: 0.55rem;
     border:none;
}
.btns{
    display: flex;
    gap:20px;
    padding-top :20px ;
}
.found:hover{
    scale:107%;
    box-shadow: 0 0 12px rgba(169, 183, 198, 0.6);
}
.lost:hover{
    scale:107%;
    box-shadow: 0 0 12px rgba(74, 144, 226, 0.6);
}
.pic{
    border-radius:7%;
    margin: 30px 0 0 200px;
}
h3{
    color:white;
    padding-left:12px;
    padding-top:19px;
}
.searchbar{
    display:flex;
    width:900px;
    background: white;
    align-items: center;
    background: rgb(40, 49, 61);
    border-radius:20px;
    color:#a5a7aa;
    margin-left:10px;
    margin-top:20px;
}

#search{
    padding-left:9px;
}
input{
    border:none;
    width:100%;
    background: transparent;
    height:2.5rem;
    color:white;    
    margin-left:10px;
}
input:focus{
    border :none;
    outline:none;
}
.line{
    border:solid black 1px;
    width:100%;
}

.row-1, .row-2{
    display: flex;
    width: 100%;
}
.card{
    height:300px;
    width: 300px;
    color:white;
    background-color:rgb(40, 49, 61);
    margin:30px;
    border-radius:20px ;
     
}
.text{
    margin:10px 0 1px 20px;
}
.image{
    width:100%;
    height:70%;
    width:100%;
    border-radius:20px 20px 0 0px;
}
.saymyname{
    font-size: large;
    margin:0 0 5px 15px;

}
.location{
    font-size:x-small;
    margin:0 0 5px 15px;
}
.location span{
    padding-left: 10px;
}
.date span{
    padding:5px 0 0 7px;
}
.date{
    margin:0 0 5px 15px;
    font-size:small;
}


.shortcuts a{
    margin:10px;
   
    
}
.link{
    color:rgb(35, 109, 255); 
    border-bottom: 5px solid rgb(35, 109, 255);
    padding-bottom:10px;
    text-decoration: none;
}

.a{
    color:#a5a7aa;
    text-decoration:none;
    cursor: pointer;
    padding-bottom:8px;
}

#Recent_lost{
    color:rgb(35, 109, 255); 
    border-bottom: 3px solid rgb(35, 109, 255);
    padding-bottom:10px;
    text-decoration: none;
}

.card:hover{
    scale:107%;
}
#Found_item_container{
    display: none;
}